<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://timesheetreplacement.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>timesheetreplacement.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>timesheetreplacement</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>thorrobin</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Model1" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ixoiw6jg7q.database.windows.net,1433;Initial Catalog=timesheetreplacement_db;User ID=thorrobin@ixoiw6jg7q;Password=HeavyBevi2012" Name="Data Source=tcp:ixoiw6jg7q.database.windows.net,1433;Initial Catalog=timesheetreplacement_db;User Id=thorrobin@ixoiw6jg7q;Password=HeavyBevi2012" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TimesheetsWebApp2.Model1, TimesheetsWebApp2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model1-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ixoiw6jg7q.database.windows.net,1433;Initial Catalog=timesheetreplacement_db;User Id=thorrobin@ixoiw6jg7q;Password=HeavyBevi2012</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>