@model TimesheetsWebApp2.ColorShop

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ColorShop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShopId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
